@font-face {
    font-family: 'counterFont';
    src: url(./font/Let_s_go_Digital_Regular.ttf);
}

html, body, main {
    font-family:-apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;
    background-color: #aefcff;
}




.counterText {
    background-color: #000000;
    color: #00ff00;
    font-family: counterFont;
    font-size: 32px;
    font-weight: bold;
}

.counterBorder {
    border: ridge 4px #b3c6eb;
}